.banner-photo {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

.header {
    display: flex;
    width: 1350px;
    height: 850px;
    flex-shrink: 0;
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-title {
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-paragraph {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.button1 {
    display: inline-flex;
    padding: 19px 42px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 7px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
