*{
    margin: 0px;
    padding: 0px;
}
nav {
    display: flex;
}
nav > ul{
    display: flex;
    align-items: center;
    
} 
nav li{
    list-style: none;
    margin-right: 50px;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
}